.cart {
  position: relative;
  margin-top: 20px;

  .flex_wrapper {
    display: flex;
    justify-content: center;
    .cart_clear {
      margin-left: 20px;
      font-family: "Manrope", sans-serif;
      font-size: 13px;
      color: $gray;
      .icon {
        width: 8px;
        height: 8px;
        margin-right: 8px;
        fill: $gray;
      }
    }
  }

  .cart_card__wrapper {
    margin: 30px 0 40px;
    .cart_card {
      position: relative;
      padding: 20px;
      border-radius: 20px;
      border: 2px solid $lineGray;
      background-color: $white;
      &:not(:first-child) {
      margin-top: 20px;
      }

      img {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-radius: 20px;
      }

      .card_info {
        margin-top: 20px;
        .card_info__data {
          .link_detail {
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            color: inherit;
            transition: $transition;
            &:hover {
              color: $redHover;
            }
          }

          span {
            font-size: 15px;
            color: $gray;
          }
        }

      }
      .card_info__counter_wrapper {
          display: grid;
          grid-template-areas: 
          "c p p";
          align-items: center;
          margin-top: 15px;
          gap: 0 40px;
    
          .counter {
            grid-area: c;
            display: grid;
            grid-template: auto/repeat(3, 1fr);
    
            button,
            input {
              width: 38px;
              height: 38px;
              background-color: $white;
              border-radius: 4px;
            }
    
            input {
              font-family: "Circe", sans-serif;
              color: $darkGray;
              border: 1px solid #F1F1F3;
              outline: none;
              text-align: center;
            }
    
            button {
              background-color: #F0F0F0;
    
              .icon {
                width: 12px;
                fill: $gray;
              }
    
              &:hover {
                .icon {
                  fill: $redHover;
                }
    
              }
            }
          }
    
          p {
            font-size: 24px;
            font-weight: 700;
            color: $red;
            letter-spacing: 0.1em;
            text-align: right;
          }
    
          .text {
            grid-area: p;
          }
      }

      .btn_delete {
        position: absolute;
        top: 35px;
        right: 35px;
        width: 26px;
        height: 26px;
        background-color: $white;
        border-radius: 50%;
        span {
          display: none;
        }
        .icon {
          width: 8px;
          height: 8px;
          fill: $red;
        }
      }
    }
  }

}

@media(min-width: $sm) {
  .cart {
    margin-top: 30px;
  
    .flex_wrapper {
      .cart_clear {
        margin-left: 30px;
      }
    }
  
    .cart_card__wrapper {
      margin: 55px 0 50px;
      .cart_card {
        display: flex;
        align-items: center;
        img {
          width: 140px;
          height: 140px;
        }
  
        .card_info {
          margin-top: 0;
          margin-left: 20px;
          width: 70%;  
        }

        .btn_delete {
          top: 20px;
          right: 20px;
          width: 16px;
          height: 16px;
          .icon {
            width: 8px;
            height: 8px;
            fill: $gray;
          }
        }
      }
    }
  }
  
}

@media(min-width: $md) {
  .cart {  
    .flex_wrapper {
      .cart_clear {
        margin-left: 40px;
      }
    }
  
    .cart_card__wrapper {
      margin: 40px 0 60px;
      .cart_card {
        padding: 30px;
        .card_info {
          .card_info__data {
            .link_detail {
              font-size: 20px;
            }
            span {
              font-size: 18px;
            }
          }
  
        }
        .card_info__counter_wrapper {
            margin-top: 20px;

            .counter {
              width: 90%;
              button,
              input {
                width: 48px;
                height: 48px;
              }
            }
      
            p {
              font-size: 30px;
              text-align: left;
            }
        }
  
        .btn_delete {
          top: 10px;
          right: 20px;
          width: auto;
          border-radius: 0;
          span {
            display: block;
            margin-left: 8px;
            font-family: "Manrope", sans-serif;
            color: $gray;
          }
          .icon {
            width: 8px;
            height: 8px;
            fill: $gray;
          }
        }
      }
  
    }
  }
  
}


@media(min-width: $lg) {
  .cart {
    margin-top: 50px;
    .flex_wrapper {
      justify-content: space-between;
      .cart_clear {
        margin-left: auto;
        &:hover{
          color: $redHover;
          .icon {
            fill:$redHover;
          }
          
        }
      }

    }
  
    .cart_card__wrapper {
      margin: 60px 0 70px;
      .cart_card {
        .card_info {
          display: flex;
          width: 100%;
          .card_info__data {
            max-width: 360px;
            .link_detail {
              font-size: 20px;
              &:hover {
                color: $redHover;
              }
  
            }
            span {
              font-size: 18px;
            }
          }
  
        }
        .card_info__counter_wrapper {
            margin-top: 0;
            margin-left: auto;

            .counter {
              width: 100%;
              gap: 8px;
              button,
              input {
                width: 48px;
                height: 48px;
              }
            }
      
            p {
              font-size: 30px;
              text-align: left;
            }
        }
  
        .btn_delete {
          top: 10px;
          right: 20px;
          width: auto;
          border-radius: 0;
          span {
            display: block;
            margin-left: 8px;
            font-family: "Manrope", sans-serif;
            color: $gray;
          }
          .icon {
            width: 8px;
            height: 8px;
            fill: $gray;
          }

          &:hover{
            span {
              color: $redHover;
            }
            .icon {
              fill: $redHover;
            }
          }
        }
      }
  
    }
  }
  
}

@media(min-width: $xxl) {
  .cart {
    margin-top: 60px;
    .flex_wrapper {
      h2 {
        font-size: 54px;
      }
    }

    .grid_wrapper {
      display: grid;
      grid-template: auto/1000px 22.5%;
      gap: 40px;
    }
  
    .cart_card__wrapper {
      margin: 60px 0 100px;
      .cart_card {
        .card_info {
          .card_info__data {
            max-width: 600px;
          }
        }
      }
    }
  }

  .page_cart {
    .pagination_wrapeer {
      .pagination {
        margin: 0;
      }
    }
  }
}

