.contacts {
  position: relative;
  margin-top: 20px;

  .contacts_contacts {
    margin-top: 20px;
      .contact {
          position: relative;
          padding: 20px;
          padding-left: 60px;
          margin: 0 auto;
          border-radius: 16px;
          border: 2px solid $lineGray;
          background-color: $white;

          &:not(:first-child) {
              margin-top: 20px;
          }

          &::before {
              position: absolute;
              top: 20px;
              left: 20px;
              display: block;
              content: '';
              width: 24px;
              height: 24px;
          }

          h4 {
              color: $lightGray;
              margin-bottom: 10px;
          }
      }

      .contact-pos {
          &:before {
              background: url("data:image/svg+xml,%3Csvg width='14' height='21' viewBox='0 0 14 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0H3.00001C2.20436 0 1.4413 0.316071 0.878688 0.87868C0.316078 1.44129 7.88292e-06 2.20435 7.88292e-06 3V19C-0.000691684 19.1762 0.0451825 19.3495 0.132986 19.5023C0.220789 19.655 0.347404 19.7819 0.500008 19.87C0.652027 19.9578 0.824471 20.004 1.00001 20.004C1.17554 20.004 1.34799 19.9578 1.50001 19.87L7.00001 16.69L12.5 19.87C12.6524 19.9564 12.8248 20.0012 13 20C13.1752 20.0012 13.3476 19.9564 13.5 19.87C13.6526 19.7819 13.7792 19.655 13.867 19.5023C13.9548 19.3495 14.0007 19.1762 14 19V3C14 2.20435 13.6839 1.44129 13.1213 0.87868C12.5587 0.316071 11.7957 0 11 0ZM12 17.27L7.50001 14.67C7.34799 14.5822 7.17554 14.536 7.00001 14.536C6.82447 14.536 6.65203 14.5822 6.50001 14.67L2.00001 17.27V3C2.00001 2.73478 2.10536 2.48043 2.2929 2.29289C2.48044 2.10536 2.73479 2 3.00001 2H11C11.2652 2 11.5196 2.10536 11.7071 2.29289C11.8947 2.48043 12 2.73478 12 3V17.27Z' fill='%23D6373E'/%3E%3C/svg%3E%0A")no-repeat 50%/contain;
          }
      }

      .contact-tel {
          p:nth-child(2) {
              display: none;
          }

          &:before {
              background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1467 3.61018C12.0938 3.58965 12.0374 3.58041 11.9811 3.58292C11.9247 3.58543 11.8697 3.59963 11.8195 3.62451C11.771 3.64855 11.7279 3.68209 11.6927 3.7231C10.4229 5.29782 9.54168 7.14994 9.12036 9.13001L9.11853 9.13859C8.71433 10.9596 8.71612 12.8483 9.12402 14.6705L9.12604 14.6795C9.54853 16.6521 10.4268 18.4995 11.6906 20.0737C11.7264 20.1153 11.7702 20.1492 11.8194 20.1736C11.8704 20.1989 11.926 20.2131 11.9826 20.2156C12.0392 20.2181 12.0955 20.2088 12.1479 20.1883C12.2003 20.1678 12.2478 20.1367 12.2873 20.0968L12.2901 20.0939L13.7804 18.6037C13.7863 18.5978 13.7922 18.592 13.7982 18.5863C13.8698 18.5182 13.914 18.426 13.9221 18.3268C13.9301 18.2286 13.9021 18.1302 13.8429 18.0503C13.3836 17.4511 12.9934 16.8022 12.6795 16.1157L12.6785 16.1135C12.6461 16.0423 12.594 15.9817 12.5283 15.9391C12.4631 15.8968 12.3875 15.874 12.3105 15.8731L11.0511 15.8719C10.6016 15.8714 10.2077 15.5712 10.0881 15.1379C9.50133 13.0113 9.49903 10.7665 10.0818 8.64054C10.2009 8.20573 10.5963 7.90443 11.0472 7.90488L12.3065 7.90613C12.3835 7.90541 12.4584 7.88283 12.5226 7.84127C12.5873 7.79936 12.6385 7.73977 12.6704 7.66947L12.6714 7.66727C12.984 6.9812 13.3732 6.33272 13.8314 5.73415C13.8889 5.65645 13.9168 5.56025 13.9093 5.46286C13.9018 5.36435 13.8587 5.27144 13.7876 5.20176L13.7806 5.19488L12.2881 3.70228C12.288 3.70221 12.2881 3.70234 12.2881 3.70228C12.2478 3.66216 12.1996 3.63069 12.1467 3.61018ZM11.892 1.58491C12.2258 1.57003 12.5589 1.62482 12.8703 1.74567C13.1817 1.86652 13.4646 2.05079 13.701 2.28673L15.1918 3.77759C15.6063 4.18585 15.8593 4.73043 15.9035 5.3108C15.9479 5.89306 15.7792 6.4717 15.4281 6.93862L15.4225 6.94605C15.0546 7.42602 14.7422 7.94617 14.4913 8.49665L13.5813 8.08196L14.4923 8.49445C14.3025 8.91368 13.9963 9.26955 13.61 9.51979C13.2238 9.77002 12.7739 9.904 12.3138 9.90612L12.3082 9.90615L11.8377 9.90567C11.581 11.215 11.5826 12.5626 11.8424 13.8727L12.3217 13.8731C12.7818 13.8762 13.2313 14.011 13.6171 14.2614C14.0025 14.5116 14.3084 14.8667 14.4987 15.2848C14.7507 15.8358 15.0642 16.3567 15.4332 16.8375L15.4386 16.8446C15.7936 17.3159 15.9635 17.9013 15.9154 18.4896C15.8678 19.0733 15.6088 19.6194 15.187 20.0255L13.7072 21.5053C13.7067 21.5058 13.7061 21.5064 13.7056 21.5069C13.4699 21.7441 13.1872 21.9295 12.8758 22.0512C12.5636 22.1731 12.2294 22.2285 11.8946 22.2137C11.5599 22.199 11.2319 22.1145 10.9317 21.9658C10.6315 21.8171 10.3655 21.6074 10.1509 21.3502L10.1394 21.3362C8.67703 19.5181 7.66044 17.3832 7.17131 15.1028C6.70065 12.9972 6.69847 10.8145 7.16507 8.70947C7.65289 6.42018 8.67305 4.27877 10.1431 2.45861L10.1531 2.44647C10.3671 2.18982 10.6323 1.98067 10.9318 1.83234C11.2312 1.68401 11.5582 1.59978 11.892 1.58491Z' fill='%23D6373E'/%3E%3C/svg%3E%0A") no-repeat 50%/contain;
          }
      }

      .contact-time {
          display: none;

          &:before {
              background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C8.02219 0 6.08879 0.58649 4.4443 1.6853C2.79981 2.78412 1.51809 4.3459 0.761209 6.17317C0.00433284 8.00043 -0.193701 10.0111 0.192152 11.9509C0.578004 13.8907 1.53041 15.6725 2.92894 17.0711C4.32746 18.4696 6.10929 19.422 8.0491 19.8079C9.98891 20.1937 11.9996 19.9957 13.8268 19.2388C15.6541 18.4819 17.2159 17.2002 18.3147 15.5557C19.4135 13.9112 20 11.9778 20 10C20 8.68678 19.7413 7.38642 19.2388 6.17317C18.7363 4.95991 17.9997 3.85752 17.0711 2.92893C16.1425 2.00035 15.0401 1.26375 13.8268 0.761205C12.6136 0.258658 11.3132 0 10 0ZM10 18C8.41775 18 6.87104 17.5308 5.55544 16.6518C4.23985 15.7727 3.21447 14.5233 2.60897 13.0615C2.00347 11.5997 1.84504 9.99113 2.15372 8.43928C2.4624 6.88743 3.22433 5.46197 4.34315 4.34315C5.46197 3.22433 6.88743 2.4624 8.43928 2.15372C9.99113 1.84504 11.5997 2.00346 13.0615 2.60896C14.5233 3.21447 15.7727 4.23984 16.6518 5.55544C17.5308 6.87103 18 8.41775 18 10C18 12.1217 17.1572 14.1566 15.6569 15.6569C14.1566 17.1571 12.1217 18 10 18ZM13.1 10.63L11 9.42V5C11 4.73478 10.8946 4.48043 10.7071 4.29289C10.5196 4.10536 10.2652 4 10 4C9.73479 4 9.48043 4.10536 9.2929 4.29289C9.10536 4.48043 9 4.73478 9 5V10C9 10 9 10.08 9 10.12C9.00593 10.1889 9.02281 10.2564 9.05 10.32C9.0706 10.3793 9.09741 10.4363 9.13 10.49C9.15737 10.5468 9.1909 10.6005 9.23 10.65L9.39001 10.78L9.48 10.87L12.08 12.37C12.2324 12.4564 12.4048 12.5012 12.58 12.5C12.8014 12.5015 13.0171 12.4296 13.1932 12.2953C13.3693 12.1611 13.4959 11.9722 13.5531 11.7583C13.6103 11.5444 13.5948 11.3176 13.5092 11.1134C13.4236 10.9092 13.2726 10.7392 13.08 10.63H13.1Z' fill='%23D6373E'/%3E%3C/svg%3E%0A") no-repeat 50%/contain;

          }
      }
  }

  .requisites {
    margin-top: 40px;
    .requisites_wrapper {
      margin-top: 40px;
      .requisites_items {
        font-family: "Manrope", sans-serif;
        .requisites_item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px;
          color: #1C1A18;
          background-color: $white;
        }
      }

      .requisites_adress {
        padding: 20px;
        background-color: $white;
        &>p {
          position: relative;
          padding-left: 40px;
          font-size: 18px;
          font-weight: 600;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: '';
            width: 24px;
            height:24px;
            background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 2.5C4.34315 2.5 3 3.85919 3 5.53583V16.4283C3 17.5782 3.64201 18.6294 4.65836 19.1437L10.6584 22.1795C11.5029 22.6068 12.4971 22.6068 13.3416 22.1795L19.3416 19.1437C20.358 18.6294 21 17.5782 21 16.4283V5.53583C21 3.85919 19.6569 2.5 18 2.5H6ZM5 5.53583C5 4.97695 5.44772 4.52389 6 4.52389H18C18.5523 4.52389 19 4.97695 19 5.53583V16.4283C19 16.8116 18.786 17.162 18.4472 17.3334L12.4472 20.3693C12.1657 20.5117 11.8343 20.5117 11.5528 20.3693L5.55279 17.3334C5.214 17.162 5 16.8116 5 16.4283V5.53583ZM15.308 10.1798C15.6334 9.72824 15.5355 9.09523 15.0892 8.76595C14.643 8.43668 14.0174 8.53582 13.692 8.9874L11.5506 11.9592L10.7841 10.9794C10.4413 10.5412 9.81235 10.4672 9.37934 10.8141C8.94632 11.161 8.87319 11.7974 9.21599 12.2356L10.7993 14.2595C10.9933 14.5075 11.2907 14.6494 11.6032 14.6431C11.9156 14.6369 12.2072 14.4831 12.3914 14.2276L15.308 10.1798Z' fill='%23D6373E'/%3E%3C/svg%3E%0A")no-repeat 50%/cover;
          }
        }
        .adress {
          margin-top: 20px;
          padding-left: 40px;
          h4 {
            font-weight: 900;
            font-size: 12px;
            letter-spacing: 0.1em;
            color: $darkGray;
            text-transform: uppercase;
          }
          p {
            margin-top: 10px;
            color:#1C1A18;
          }
        }
      }
    }
  }

  .contact_image {
    margin-top: 40px;
    img {
      border-radius: 20px;
    }
  }

  .footer_map {
      position: relative;
      margin-top: 40px;

      picture {
          img {
              margin: 0 auto;
          }
      }

      button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 60px;
        border-radius: 6px;
        background-color: $red;
        transform: translate(-50%, -90%);
        transition: $transition;
        &::before {
          position: absolute;
          bottom: -5px;
          left: 50%;
          display: block;
          content: '';
          width: 14px;
          height:14px;
          background-color: $red;
          border-radius: 3px;
          transform: translateX(-50%) rotate(45deg);
          transition: $transition;
        }

        .icon {
            width: 32px;
            height: 32px;
            transition: $transition;
        }

        &:hover {
            background-color: $redHover;
            &::before {
                background-color: $redHover;
            }
            .icon {
                transform: translateY(5px);
            }
        }

    }

      .map_info {
          position: absolute;
          left: 50%;
          bottom: 20px;
          transform: translateX(-50%);
          visibility: hidden;
          opacity: 0;
          width: max-content;
          padding: 20px;
          padding-left: 40px;
          font-size: 12px;
          background-color: $white;
          border-radius: 10px;
          box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.05), 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
          transition: $transition;
          p {
              position: relative;
              &:not(:first-child) {
               margin-top: 5px;
              }
              span {
                  display: block;
              }
              &::before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -20px;
                display: block;
                content: '';
                width: 12px;
                height:12px;
              }

              &:nth-child(1) {
                  &:before {
                      background: url("data:image/svg+xml,%3Csvg width='14' height='21' viewBox='0 0 14 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0H3.00001C2.20436 0 1.4413 0.316071 0.878688 0.87868C0.316078 1.44129 7.88292e-06 2.20435 7.88292e-06 3V19C-0.000691684 19.1762 0.0451825 19.3495 0.132986 19.5023C0.220789 19.655 0.347404 19.7819 0.500008 19.87C0.652027 19.9578 0.824471 20.004 1.00001 20.004C1.17554 20.004 1.34799 19.9578 1.50001 19.87L7.00001 16.69L12.5 19.87C12.6524 19.9564 12.8248 20.0012 13 20C13.1752 20.0012 13.3476 19.9564 13.5 19.87C13.6526 19.7819 13.7792 19.655 13.867 19.5023C13.9548 19.3495 14.0007 19.1762 14 19V3C14 2.20435 13.6839 1.44129 13.1213 0.87868C12.5587 0.316071 11.7957 0 11 0ZM12 17.27L7.50001 14.67C7.34799 14.5822 7.17554 14.536 7.00001 14.536C6.82447 14.536 6.65203 14.5822 6.50001 14.67L2.00001 17.27V3C2.00001 2.73478 2.10536 2.48043 2.2929 2.29289C2.48044 2.10536 2.73479 2 3.00001 2H11C11.2652 2 11.5196 2.10536 11.7071 2.29289C11.8947 2.48043 12 2.73478 12 3V17.27Z' fill='%23D6373E'/%3E%3C/svg%3E%0A")no-repeat 50%/contain;
                  }
      
              }
              &:nth-child(2) {
                  &:before {
                      background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1467 3.61018C12.0938 3.58965 12.0374 3.58041 11.9811 3.58292C11.9247 3.58543 11.8697 3.59963 11.8195 3.62451C11.771 3.64855 11.7279 3.68209 11.6927 3.7231C10.4229 5.29782 9.54168 7.14994 9.12036 9.13001L9.11853 9.13859C8.71433 10.9596 8.71612 12.8483 9.12402 14.6705L9.12604 14.6795C9.54853 16.6521 10.4268 18.4995 11.6906 20.0737C11.7264 20.1153 11.7702 20.1492 11.8194 20.1736C11.8704 20.1989 11.926 20.2131 11.9826 20.2156C12.0392 20.2181 12.0955 20.2088 12.1479 20.1883C12.2003 20.1678 12.2478 20.1367 12.2873 20.0968L12.2901 20.0939L13.7804 18.6037C13.7863 18.5978 13.7922 18.592 13.7982 18.5863C13.8698 18.5182 13.914 18.426 13.9221 18.3268C13.9301 18.2286 13.9021 18.1302 13.8429 18.0503C13.3836 17.4511 12.9934 16.8022 12.6795 16.1157L12.6785 16.1135C12.6461 16.0423 12.594 15.9817 12.5283 15.9391C12.4631 15.8968 12.3875 15.874 12.3105 15.8731L11.0511 15.8719C10.6016 15.8714 10.2077 15.5712 10.0881 15.1379C9.50133 13.0113 9.49903 10.7665 10.0818 8.64054C10.2009 8.20573 10.5963 7.90443 11.0472 7.90488L12.3065 7.90613C12.3835 7.90541 12.4584 7.88283 12.5226 7.84127C12.5873 7.79936 12.6385 7.73977 12.6704 7.66947L12.6714 7.66727C12.984 6.9812 13.3732 6.33272 13.8314 5.73415C13.8889 5.65645 13.9168 5.56025 13.9093 5.46286C13.9018 5.36435 13.8587 5.27144 13.7876 5.20176L13.7806 5.19488L12.2881 3.70228C12.288 3.70221 12.2881 3.70234 12.2881 3.70228C12.2478 3.66216 12.1996 3.63069 12.1467 3.61018ZM11.892 1.58491C12.2258 1.57003 12.5589 1.62482 12.8703 1.74567C13.1817 1.86652 13.4646 2.05079 13.701 2.28673L15.1918 3.77759C15.6063 4.18585 15.8593 4.73043 15.9035 5.3108C15.9479 5.89306 15.7792 6.4717 15.4281 6.93862L15.4225 6.94605C15.0546 7.42602 14.7422 7.94617 14.4913 8.49665L13.5813 8.08196L14.4923 8.49445C14.3025 8.91368 13.9963 9.26955 13.61 9.51979C13.2238 9.77002 12.7739 9.904 12.3138 9.90612L12.3082 9.90615L11.8377 9.90567C11.581 11.215 11.5826 12.5626 11.8424 13.8727L12.3217 13.8731C12.7818 13.8762 13.2313 14.011 13.6171 14.2614C14.0025 14.5116 14.3084 14.8667 14.4987 15.2848C14.7507 15.8358 15.0642 16.3567 15.4332 16.8375L15.4386 16.8446C15.7936 17.3159 15.9635 17.9013 15.9154 18.4896C15.8678 19.0733 15.6088 19.6194 15.187 20.0255L13.7072 21.5053C13.7067 21.5058 13.7061 21.5064 13.7056 21.5069C13.4699 21.7441 13.1872 21.9295 12.8758 22.0512C12.5636 22.1731 12.2294 22.2285 11.8946 22.2137C11.5599 22.199 11.2319 22.1145 10.9317 21.9658C10.6315 21.8171 10.3655 21.6074 10.1509 21.3502L10.1394 21.3362C8.67703 19.5181 7.66044 17.3832 7.17131 15.1028C6.70065 12.9972 6.69847 10.8145 7.16507 8.70947C7.65289 6.42018 8.67305 4.27877 10.1431 2.45861L10.1531 2.44647C10.3671 2.18982 10.6323 1.98067 10.9318 1.83234C11.2312 1.68401 11.5582 1.59978 11.892 1.58491Z' fill='%23D6373E'/%3E%3C/svg%3E%0A") no-repeat 50%/contain;
                  }
              }
              &:nth-child(3) {
                  &:before {
                      background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C8.02219 0 6.08879 0.58649 4.4443 1.6853C2.79981 2.78412 1.51809 4.3459 0.761209 6.17317C0.00433284 8.00043 -0.193701 10.0111 0.192152 11.9509C0.578004 13.8907 1.53041 15.6725 2.92894 17.0711C4.32746 18.4696 6.10929 19.422 8.0491 19.8079C9.98891 20.1937 11.9996 19.9957 13.8268 19.2388C15.6541 18.4819 17.2159 17.2002 18.3147 15.5557C19.4135 13.9112 20 11.9778 20 10C20 8.68678 19.7413 7.38642 19.2388 6.17317C18.7363 4.95991 17.9997 3.85752 17.0711 2.92893C16.1425 2.00035 15.0401 1.26375 13.8268 0.761205C12.6136 0.258658 11.3132 0 10 0ZM10 18C8.41775 18 6.87104 17.5308 5.55544 16.6518C4.23985 15.7727 3.21447 14.5233 2.60897 13.0615C2.00347 11.5997 1.84504 9.99113 2.15372 8.43928C2.4624 6.88743 3.22433 5.46197 4.34315 4.34315C5.46197 3.22433 6.88743 2.4624 8.43928 2.15372C9.99113 1.84504 11.5997 2.00346 13.0615 2.60896C14.5233 3.21447 15.7727 4.23984 16.6518 5.55544C17.5308 6.87103 18 8.41775 18 10C18 12.1217 17.1572 14.1566 15.6569 15.6569C14.1566 17.1571 12.1217 18 10 18ZM13.1 10.63L11 9.42V5C11 4.73478 10.8946 4.48043 10.7071 4.29289C10.5196 4.10536 10.2652 4 10 4C9.73479 4 9.48043 4.10536 9.2929 4.29289C9.10536 4.48043 9 4.73478 9 5V10C9 10 9 10.08 9 10.12C9.00593 10.1889 9.02281 10.2564 9.05 10.32C9.0706 10.3793 9.09741 10.4363 9.13 10.49C9.15737 10.5468 9.1909 10.6005 9.23 10.65L9.39001 10.78L9.48 10.87L12.08 12.37C12.2324 12.4564 12.4048 12.5012 12.58 12.5C12.8014 12.5015 13.0171 12.4296 13.1932 12.2953C13.3693 12.1611 13.4959 11.9722 13.5531 11.7583C13.6103 11.5444 13.5948 11.3176 13.5092 11.1134C13.4236 10.9092 13.2726 10.7392 13.08 10.63H13.1Z' fill='%23D6373E'/%3E%3C/svg%3E%0A") no-repeat 50%/contain;
      
                  }
              }
          }
      }
      .map_info--visible {
          visibility: visible;
          opacity: 1;
      }
  }

  .contacts_info {
      margin-top: -70px;
      padding-top: 100px;
      background: url(../img/footer/pattern.png);

      .contacts_info__links {
          padding-bottom: 30px;

          ul {
              display: grid;
              grid-template: auto/repeat(2, 1fr);
              gap: 10px 30px;

              li {
                  &:nth-child(odd) {
                      justify-self: end;
                  }

                  a {
                      font-size: 16px;
                      text-transform: none;
                      color: $white;
                  }
              }
          }
      }

      .contacts_info__other {
          display: none;
      }

      .contacts_info__social {
          padding: 30px 0;
          background-color: $white;

          .social_group {
              display: grid;
              grid-template: auto/repeat(5, 1fr);
              gap: 20px 30px;

              .social-link {
                  display: grid;
                  place-items: center;
                  width: 44px;
                  height: 44px;
                  border-radius: 10px;
                  background-color: $beige;
                  transition: $transition;

                  .icon {
                      fill: $white;
                  }

                  &:hover {
                      background-color: $beigeHover;
                  }

              }
          }

          .copyright {
              margin-top: 30px;
              font-size: 15px;
              text-align: center;
          }
      }
  }
}

@media(min-width: $sm) {
  .contacts {
      margin-top: 30px;
      .contacts_contacts {
        margin-top: 40px;
      
          .contact-tel {
              p:nth-child(3) {
                  display: inline-flex;
              }
          }
      }

      .requisites {
        .requisites_wrapper {
          .requisites_items {
          }
    
          .requisites_adress {
            padding: 30px;
            &>p {
              padding-left: 30px;
              font-size: 20px;
            }
            .adress {
              padding-left: 30px;
              p {
                margin-top: 15px;
              }
            }
          }
        }
      }
    
      .contact_image {
        margin-top: 50px;
      }
    
  
      .footer_map {
          .map_info {
              bottom: 60px;
          }
      }
  
      .contacts_info {
          .contacts_info__links {
              padding-bottom: 30px;
  
              ul {
                  gap: 10px 60px;    
                  li {
                      a {
                          font-size: 18px;
                      }
                  }
              }
          }
  
          .contacts_info__social {
              padding: 30px 0;
              background-color: $white;
  
              .social_group {
                  display: grid;
                  grid-template: auto/repeat(5, 1fr);
                  gap: 20px 70px;
                  justify-items: center;
              }

          }
      }
  }
  
}
@media(min-width: $md) {
  .contacts {      
      .contacts_contacts {
          display: grid;
          grid-template: auto/repeat(2, 1fr);
          gap: 0 30px;
          .contact {
              padding: 25px 20px;
              padding-left: 60px;
              margin: 0;
              &:not(:first-child) {
                  margin-top: 0;
              }
      
              h4 {
                  color: $lightGray;
                  margin-bottom: 10px;
              }
          }
          .contact-tel {
              p {
                  flex-wrap: wrap;
              }
          }
      }

      .requisites {
        margin-top: 60px;
        .requisites_wrapper {
          .requisites_items {
          }
    
          .requisites_adress {
            &>p {
              padding-left: 40px;
            }
            .adress {
              padding-left: 40px;
              p {
                margin-top: 15px;
              }
            }
          }
        }
      }
    
      .contact_image {
        margin-top: 60px;
      }

  
      .footer_map {
          
          .map_info {
              bottom: 60px;
          }
      }
  
      .contacts_info {
          margin-top: -70px;
          padding-top: 100px;
          background: url(../img/footer/pattern.png);
  
          .contacts_info__links {    
              ul {
                  grid-template: auto/repeat(3, 1fr);
                  gap: 16px 90px;
  
                  li {
                      &:nth-child(odd) {
                          justify-self: auto;
                      }
  
                      a {
                          font-size: 18px;
                      }
                  }
              }
          }
      
          .contacts_info__social {    
              .social_group {
                  display: grid;
                  grid-template: auto/repeat(10, 1fr);
                  gap:  20px;
              }
  
              .copyright {
                  margin-top: 20px;
              }
          }
      }
  }
  
}
@media(min-width: $lg) {
  .contacts {
      margin-top: 50px;
      .contacts_contacts {
        margin-top: 60px;
          grid-template: auto/repeat(3, 1fr);
          gap: 0 20px;
          .contact {
          }
      
          .contact-tel {
              p:nth-child(2) {
                  display: block;
              }
              p:nth-child(3) {
                  display: none;
              }
  
              &:before {
                  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1467 3.61018C12.0938 3.58965 12.0374 3.58041 11.9811 3.58292C11.9247 3.58543 11.8697 3.59963 11.8195 3.62451C11.771 3.64855 11.7279 3.68209 11.6927 3.7231C10.4229 5.29782 9.54168 7.14994 9.12036 9.13001L9.11853 9.13859C8.71433 10.9596 8.71612 12.8483 9.12402 14.6705L9.12604 14.6795C9.54853 16.6521 10.4268 18.4995 11.6906 20.0737C11.7264 20.1153 11.7702 20.1492 11.8194 20.1736C11.8704 20.1989 11.926 20.2131 11.9826 20.2156C12.0392 20.2181 12.0955 20.2088 12.1479 20.1883C12.2003 20.1678 12.2478 20.1367 12.2873 20.0968L12.2901 20.0939L13.7804 18.6037C13.7863 18.5978 13.7922 18.592 13.7982 18.5863C13.8698 18.5182 13.914 18.426 13.9221 18.3268C13.9301 18.2286 13.9021 18.1302 13.8429 18.0503C13.3836 17.4511 12.9934 16.8022 12.6795 16.1157L12.6785 16.1135C12.6461 16.0423 12.594 15.9817 12.5283 15.9391C12.4631 15.8968 12.3875 15.874 12.3105 15.8731L11.0511 15.8719C10.6016 15.8714 10.2077 15.5712 10.0881 15.1379C9.50133 13.0113 9.49903 10.7665 10.0818 8.64054C10.2009 8.20573 10.5963 7.90443 11.0472 7.90488L12.3065 7.90613C12.3835 7.90541 12.4584 7.88283 12.5226 7.84127C12.5873 7.79936 12.6385 7.73977 12.6704 7.66947L12.6714 7.66727C12.984 6.9812 13.3732 6.33272 13.8314 5.73415C13.8889 5.65645 13.9168 5.56025 13.9093 5.46286C13.9018 5.36435 13.8587 5.27144 13.7876 5.20176L13.7806 5.19488L12.2881 3.70228C12.288 3.70221 12.2881 3.70234 12.2881 3.70228C12.2478 3.66216 12.1996 3.63069 12.1467 3.61018ZM11.892 1.58491C12.2258 1.57003 12.5589 1.62482 12.8703 1.74567C13.1817 1.86652 13.4646 2.05079 13.701 2.28673L15.1918 3.77759C15.6063 4.18585 15.8593 4.73043 15.9035 5.3108C15.9479 5.89306 15.7792 6.4717 15.4281 6.93862L15.4225 6.94605C15.0546 7.42602 14.7422 7.94617 14.4913 8.49665L13.5813 8.08196L14.4923 8.49445C14.3025 8.91368 13.9963 9.26955 13.61 9.51979C13.2238 9.77002 12.7739 9.904 12.3138 9.90612L12.3082 9.90615L11.8377 9.90567C11.581 11.215 11.5826 12.5626 11.8424 13.8727L12.3217 13.8731C12.7818 13.8762 13.2313 14.011 13.6171 14.2614C14.0025 14.5116 14.3084 14.8667 14.4987 15.2848C14.7507 15.8358 15.0642 16.3567 15.4332 16.8375L15.4386 16.8446C15.7936 17.3159 15.9635 17.9013 15.9154 18.4896C15.8678 19.0733 15.6088 19.6194 15.187 20.0255L13.7072 21.5053C13.7067 21.5058 13.7061 21.5064 13.7056 21.5069C13.4699 21.7441 13.1872 21.9295 12.8758 22.0512C12.5636 22.1731 12.2294 22.2285 11.8946 22.2137C11.5599 22.199 11.2319 22.1145 10.9317 21.9658C10.6315 21.8171 10.3655 21.6074 10.1509 21.3502L10.1394 21.3362C8.67703 19.5181 7.66044 17.3832 7.17131 15.1028C6.70065 12.9972 6.69847 10.8145 7.16507 8.70947C7.65289 6.42018 8.67305 4.27877 10.1431 2.45861L10.1531 2.44647C10.3671 2.18982 10.6323 1.98067 10.9318 1.83234C11.2312 1.68401 11.5582 1.59978 11.892 1.58491Z' fill='%23D6373E'/%3E%3C/svg%3E%0A") no-repeat 50%/contain;
              }
          }
  
          .contact-time {
              display: block;
              }
      }

      .grid_wrapper {
        display: grid;
        grid-template: 1fr/57% 40%;
        align-items: end;
        gap: 0 30px;
      }
  
      .footer_map {
          margin-top: 60px;

          button {
              top: 45%;
              &:hover + .map_info {
                  visibility: visible;
                  opacity: 1;
              }
              
          }
  
          .map_info {
              bottom: auto;
              top: 50%;
              transform: translate(15%, -110%);
              padding: 20px;
              padding-left: 55px;
              font-size: 15px;
          }
      }
  
      .contacts_info {
          margin-top: -70px;
          padding-top: 100px;

          .contacts_info__lg_wrapper {
              display: flex;
          }
  
          .contacts_info__links {
              padding-bottom: 30px;
  
              ul {
                  gap: 16px 80px;
              }
          }
  
          .contacts_info__other {
              margin-left: auto;
              display: block;

              a {
                  display: flex;
                  align-items: center;
                  padding: 18px 34px;
                  font-size: 18px;
                  &::before {
                    content: none;
                  }
                  .icon  {
                      fill: $white;
                  }
              }

              p {
                  margin-top: 23px;
                  color: $white;
                  text-align: center;

              }
          }
  
          .contacts_info__social {

              .social__lg_wrapper {
                  display: flex;
                  justify-content: center;
                  align-items: center;
              }

              .social_group {
                  order: 1;    
                  .social-link {
                      display: grid;
                      place-items: center;
                      width: 44px;
                      height: 44px;
                      border-radius: 10px;
                      background-color: $beige;
                      transition: $transition;
  
                      .icon {
                          fill: $white;
                      }
  
                      &:hover {
                          background-color: $beigeHover;
                      }
  
                  }
              }
  
              .copyright {
                  margin-top: 0;
                  margin-right: auto;
                  text-align: left;
              }
          }
      }
  }
  
}
@media(min-width: $xxl) {
  .contacts {
    margin-top: 60px;
      .contacts_contacts {
          grid-template: auto/repeat(3, 1fr);
          gap: 0 40px;
          .contact {
              padding: 40px;
              padding-left: 85px;
              font-size: 18px;
              &::before {
                top: 40%;
                transform: translateY(-50%);
                left: 40px;
              }
          }
      }

      .grid_wrapper {
        gap: 0 40px;
        padding-bottom: 40px;
      }

      .footer_map {
          button {
            transform: translate(-50%, -75%);
        }
      }



      .requisites {
        margin-top: 70px;
        .requisites_wrapper {
          margin-top: 50px;
          .requisites_items {
          }
    
          .requisites_adress {
            &>p {
              padding-left: 40px;
            }
            .adress {
              padding-left: 40px;
              p {
                margin-top: 15px;
              }
            }
          }
        }
      }
    
      .contact_image {
        margin-top: 60px;
      }

      
      .contacts_info {
          margin-top: -130px;
          padding-top: 202px;
          padding-bottom: 30px;
          display: flex;
          justify-content: space-between;
          .contacts_info__xxl_wrapper {
              display: flex;
              max-width: 70%;
              width: 100%;
              margin: 0 auto;
              & > .container {
                  max-width: 100%;
                  margin: 0;
              }

          }
          & > .container {
              max-width: 100%;
              margin: 0;
          }

          .contacts_info__other {
              margin-left: 85px;
          }
          .contacts_info__social {
              padding: 0;
              margin-left: auto;
              background-color:  transparent;
              & > .container {
                  max-width: 100%;
                  margin: 0;
              }


              .social__lg_wrapper {
                  display: block;
              }

              .social_group {
                  grid-template-columns: repeat(5, 1fr);
                  order: 0;
                  grid-template-areas: 
                  "A B C D E"
                  ". F G T L"
                  ;

                  gap: 10px;

                  .link--tel {
                      display: none;
                  }

                  .dz {
                      grid-area: A;
                  }
                  .tg {
                      grid-area: B;
                  }
                  .ig {
                      grid-area: C;
                  }
                  .vk {
                      grid-area: D;
                  }
                  .yt {
                      grid-area: E;
                  }
                  .wa {
                      grid-area: F;
                  }
                  .rs {
                      grid-area: G;
                  }
                  .tt {
                      grid-area: T;
                  }
                  .lk {
                      grid-area: L;
                  }
              }
  
              .copyright {
                  margin-top: 20px;
                  margin-right: 0;
                  text-align: right;
                  color: $white;
              }
          }
      }
  }
  
}

