.modal_mk {
  overflow-y: auto;

  .modal__form {
    &>p {
      margin-bottom: 20px;
      color: $white;
      text-align: center;
    }
  }

  .row_md {
    width: 100%;

    label {
      &:nth-child(2) {
        margin-top: 20px;
      }
    }

    .select,
    .info {
      margin-top: 20px;
    }

    .info {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;
      font-size: 18px;
      color: $white;
      background-color: #BE363C;
      border-radius: 10px;

      span {
        color: $beige;
      }
    }


  }
}

.modal_feedback {

  .grid_wrapper {
    display: grid;
    grid-template: auto/ 1fr;
    gap: 20px 0;
    width: 100%;
    margin-top: 20px;

    textarea {
      height: 140px;
      resize: none;
    }
  }

  .buttons {
    width: 100%;
    margin-top: 20px;

    .add-file {
      width: 100%;
      padding: 20px;
      margin-top: 0;
      font-weight: 700;
      border: 2px solid $white;
      border-radius: 10px;
      background-color: transparent;
      color: $white;
      .icon {
        margin-right: 10px;
      }
    }
  }

}

.modal_feedback_thanks {
  .modal__wrapper {
    height: 370px;

    h3 {
      font-size: 30px;
      font-weight: 700;
      color: $white;
    }
  }

  .modal__form {
    p {
      margin-top: 20px;
      color: $white;
      text-align: center;
    }
  }
}

.modal_thanks {
  .modal__form {
    a {
      color: $white;
      margin-top: 20px;
    }
  }
}

.modal_call {

  .grid_wrapper {
    display: grid;
    grid-template: auto/ 1fr;
    gap: 20px 0;
    width: 100%;
    margin-top: 20px;
  }

}

.modal_connection {
  overflow-y: auto;

  .grid_wrapper {
    display: grid;
    grid-template: auto/ 1fr;
    gap: 20px 0;
    width: 100%;
    margin-top: 20px;
  }

  .grid_info {
    display: grid;
    grid-template: auto/ 1fr;
    gap: 20px 0;
    width: 100%;


    .info {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;
      font-size: 18px;
      color: $white;
      background-color: #BE363C;
      border-radius: 50px;

      span {
        color: $beige;
      }
    }

  }

  .buttons {
    width: 100%;
    margin-top: 20px;

    .btn_back {
      width: 100%;
      padding: 20px;
      margin-top: 0;
      font-weight: 700;
      color: $white;
      border: 2px solid $white;
      border-radius: 10px;
      background-color: transparent;

      .icon {
        margin-right: 10px;
        fill: $white;
      }


    }
  }

}

.modal_success {
  .modal__wrapper {
    height: 400px;

    h3 {
      font-size: 24px;
      text-align: center;
    }

    .grid_info {
      display: grid;
      grid-template: auto/ 1fr;
      gap: 20px 0;
      width: 100%;
      margin-top: 30px;


      .info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        font-size: 17px;
        color: $white;
        background-color: #BE363C;
        border-radius: 50px;

        p {
          margin-top: 0;
        }

        span {
          color: $beige;
        }
      }

    }

  }
}

.modal_feedback_full {
  overflow-y: auto;
  .modal__wrapper {
    overflow: hidden;
    padding: 0;
    padding-top: 20px;
  }
  .modal__close {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .feedback_autor {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .autor-info {
      margin-left: 25px;
      color: $white;
      p {
        &:first-child {
          font-size: 18px;
          font-weight: 700;
        }
        font-size: 15px;
      }
    }
  }

  .feedback_content__wrapper {
    margin-top: 25px;
    padding: 20px;
    padding-right: 15px;  
    background-color: $white;


  }

  .feedback_content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 450px;
    padding-right: 25px;
    scrollbar-width: thin;
    scrollbar-color: $red $red;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $red;
      border-radius: 2px;
    }
    p {
      &:not(:first-child) {
      margin-top: 30px;
      }
    }

    .content_images {
      margin-top: 30px;
      overflow-x: scroll;
      display: flex;
      flex-flow: row nowrap;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
      }

      img {
        width: 170px;
        height: 170px;
        border-radius: 20px;
        &:not(:first-child) {
         margin-left: 20px;
        }
      }
    }
  }
}


// sm
@media(min-width: $sm) {
  .modal_mk {

    .modal__form {
      &>p {
        margin-bottom: 30px;
      }
    }
  }

  .modal_feedback_thanks {
    .modal__wrapper {
      height: 620px;
    }

    .modal__form {
      p {
        font-size: 18px;
      }
    }
  }

  .modal_thanks {
    .modal__form {
      a {
        margin-top: 40px;
      }
    }
  }
  

  .modal_connection {

    .grid_wrapper {
      margin-top: 25px;
    }

    .grid_info {
      display: grid;
      grid-template: auto/ 40% 55%;
      gap: 0 30px;
      margin-bottom: 10px;

    }

    .buttons {
      display: grid;
      grid-template: auto/ 30% 65%;
      gap: 0 20px;
      margin-top: 25px;

      button {
        max-width: 100%;
        margin-top: 0;
      }
    }

  }

  .modal_success {
    .modal__wrapper {
      height: 520px;

      h3 {
        font-size: 28px;
      }

      .grid_info {
        display: grid;
        grid-template: auto/ 40% 55%;
        gap: 0 30px;

      }


    }
  }

  .modal_feedback_full {
    .modal__overlay {
      align-items: center;
    }

    .modal__close {
      right: 30px;
    }


    .feedback_autor {
      padding: 0 30px;
    }
  
    .feedback_content__wrapper {
      margin-top: 25px;
      padding: 30px;
      padding-right: 25px;  
    }
  
    .feedback_content {
      max-height: 500px;
    }
  }
  

}
// md
@media(min-width: $md) {
  .modal_mk {

    .modal__form {
      &>p {
        font-size: 18px;
        margin-bottom: 40px;
      }

    }

    .row_md {
      display: grid;
      grid-template: auto/ 1fr 1fr;
      gap: 30px;
      width: 100%;

      &:not(:first-child) {
        margin-top: 30px;
      }

      label {
        &:nth-child(2) {
          margin-top: 0;
        }
      }

      .select,
      .info {
        margin-top: 0;
      }
    }

  }

  .modal_feedback {

    .grid_wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "lname ltel"
        "lfeed lfeed"
      ;
      gap: 30px;
      margin-top: 30px;

      .label_name {
        grid-area: lname;
      }

      .label_tel {
        grid-area: ltel;
      }

      .label_feedback {
        grid-area: lfeed;
      }
    }

    .buttons {
      display: grid;
      grid-template-areas:
        "foto but but but but but"
      ;
      gap: 30px;
      margin-top: 30px;

      .add-file {
        grid-area: foto;
      }

      .grid_button {
        margin: 0;
        grid-area: but;
      }
    }

  }

  .modal_feedback_thanks {
    .modal__wrapper {
      height: 490px;
      padding: 30px 75px;

      h3 {
        font-size: 32px;
      }
    }

    .modal__form {
      p {
        margin-top: 20px;
        color: $white;
        text-align: center;
      }

      button {
        margin-top: 40px;
      }
    }
  }

  .modal_thanks {
    .modal__form {
      a {
        margin-top: 60px;
      }
    }
  }


  .modal_call {
    .modal__wrapper {
      width: 520px;

      .grid_wrapper {
        gap: 40px 0;
        margin-top: 40px;
      }
    }

  }

  .modal_connection {

    .modal__wrapper {
      width: 535px;
    }


    .grid_wrapper {
      margin-top: 30px;
      gap: 40px;
    }

    .buttons {
      gap: 0 30px;
      margin-top: 40px;
    }

  }

  .modal_success {
    .modal__wrapper {
      width: 550px;
      height: 676px;
      padding: 30px 40px;

      h3 {
        font-size: 32px;
      }

      .grid_info {
        margin-top: 40px;
      }
    }
  }

  .modal_feedback_full {
  
    .feedback_content {
      max-height: 650px;
    }
  }


}
// lg
@media(min-width: $lg) {
  .modal_mk {


    .modal__form {
      &>p {
        font-size: 20px;
        margin-bottom: 48px;
      }

    }

    .row_md {
      gap: 40px;
      width: 100%;

      &:not(:first-child) {
        margin-top: 40px;
      }
    }

  }

  .modal_feedback {

    .grid_wrapper {
      gap: 40px;
    }

    .buttons {
      display: grid;
      grid-template-areas:
        "foto  but but but  . . . . ."
      ;
      gap: 30px;
      margin-top: 30px;
    }

  }

  .modal_feedback_thanks {
    .modal__wrapper {
      height: 560px;
    }
  }

  .modal_connection {

    .modal__wrapper {
      width: 560px;
    }


    .buttons {
      margin-top: 50px;
    }

  }

  .modal_feedback_full {
    .modal__wrapper {
      padding-top: 25px;
    }
    .modal__close {
      right: 40px;
    }
  
    .feedback_autor {
      padding: 0 40px;
  
      .autor-info {
        margin-left: 30px;
        p {
          &:first-child {
            font-size: 20px;
          }
        }
      }
    }
  
    .feedback_content__wrapper {
      margin-top: 25px;
      padding: 40px;
      padding-right: 35px;
  
  
    }
  
    .feedback_content {
      max-height: 650px;
      padding-right: 25px;
      scrollbar-width: thin;
      scrollbar-color: $red $white;
      &::-webkit-scrollbar {
        width: 6px;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: $red;
        border-radius: 2px;
      }
      p {
        font-size: 18px;
        &:not(:first-child) {
        margin-top: 35px;
        }
        }
  
      .content_images {
        margin-top: 35px;  
        img {
          width: 200px;
          height: 200px;
          &:not(:first-child) {
           margin-left: 30px;
          }
        }
      }
    }
  }
  


}
// xl
@media(min-width: $xl) {
  .modal_mk {
    .modal__form {
      &>p {
        font-size: 24px;
      }
    }
  }

  .modal_feedback {

    .grid_wrapper {
      margin-top: 50px;
    }

    .buttons {
      display: grid;
      grid-template-areas:
        "foto  but but but  . . . . ."
      ;
      gap: 40px;
      margin-top: 40px;
    }

  }

  .modal_feedback_thanks {
    .modal__wrapper {
      height: 620px;
    }

    .modal__form {
      p {
        margin-top: 30px;
      }

      button {
        margin-top: 60px;
      }
    }
  }


}