.modal_mk {
  overflow-y: auto;

  .modal__close {
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;

    .icon {
      fill: $white;
    }

    &:hover {
      .icon {
        fill: #c4c4c4;
      }
    }


  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    color: $white;
    text-align: center;
  }

  .modal__form {
    width: 100%;

    &>p {
      margin-bottom: 20px;
      color: $white;
      text-align: center;
    }

    button {
      width: 100%;
      padding: 22px;
      margin-top: 20px;
      font-size: 13px;
    }


  }

  .row_md {
    width: 100%;

    label {
      &:nth-child(2) {
        margin-top: 20px;
      }
    }

    .select,
    .info {
      margin-top: 20px;
    }

    .info {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;
      font-size: 18px;
      color: $white;
      background-color: $red;
      border-radius: 10px;

      span {
        color: $beige;
      }
    }


  }
}

@media(min-width: $sm) {
  .modal_mk {

    .modal__form {
      &>p {
        margin-bottom: 30px;
      }

      button {
        padding: 25px;
        margin-top: 25px;
        font-size: 16px;
        font-weight: 700;
      }


    }
  }
}

@media(min-width: $md) {
  .modal_mk {

    h2 {
      font-size: 40px;
    }

    .modal__form {
      &>p {
        font-size: 18px;
        margin-bottom: 40px;
      }

      button {
        max-width: 370px;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 16px;
      }
    }

    .row_md {
      display: grid;
      grid-template: auto/ 1fr 1fr;
      gap: 30px;
      width: 100%;

      &:not(:first-child) {
        margin-top: 30px;
      }

      label {
        &:nth-child(2) {
          margin-top: 0;
        }
      }

      .select,
      .info {
        margin-top: 0;
      }
    }

  }
}

@media(min-width: $lg) {
  .modal_mk {

    h2 {
      font-size: 44px;
    }

    .modal__form {
      &>p {
        font-size: 20px;
        margin-bottom: 48px;
      }

      button {
        max-width: 420px;
        margin-top: 40px;
      }


    }

    .row_md {
      gap: 40px;
      width: 100%;

      &:not(:first-child) {
        margin-top: 40px;
      }
    }

  }
}

@media(min-width: $xl) {
  .modal_mk {

    h2 {
      font-size: 54px;
    }

    .modal__form {
      &>p {
        font-size: 24px;
      }

      button {
        margin-top: 50px;
      }
    }
  }
}