.product {
  position: relative;
  margin-top: 50px;
  padding-bottom: 50px;

  .container_full {
    width: 100%;
    max-width: 100%;
    padding-left: 20px;
  }

  h2 {
    text-align: center;
  }

  .product__wrapper {
    margin-top: 40px;
  }

  .product-swiper,
  .product_similar-swiper {
    .product_slide {
      height: auto;

      .product_slide__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        height: calc(100% - 44px);
        padding: 20px;
        border: 2px solid $lineGray;
        border-radius: 20px;
        background-color: $white;
        transition: $transition;
        @extend %hover_card;


        img {
          border-radius: 20px;
        }

        .link_detail {
          margin-top: 20px;
          margin-bottom: 15px;
          font-size: 18px;
          font-weight: 700;
          color: inherit;
          text-decoration: none;
          transition: $transition;
          &:hover {
            color: $redHover;
          }

        }

        .link_detail:hover + .text_content {
          .price {
            color: #000;
          }
        }

        .link_detail:hover + .price {
            color: #000;
          }
        

        


        .text_content {
          .price {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 700;
            color: $red;
            letter-spacing: 0.1em;
            transition: $transition;
          }
  
          .in_cart {
            padding: 20px 30px 18px;
            margin-top: 20px;
          }
        }

        .price {
          margin-top: 10px;
          font-size: 24px;
          font-weight: 700;
          color: $red;
          letter-spacing: 0.1em;
          transition: $transition;
        }

        .in_cart {
          padding: 20px 30px 18px;
          margin-top: 20px;
        }

        

      }
    }

    .product_slide--banner {
      .product_slide__content {
        color: $white;
        background: url(../img/similar/bg_banner.png)no-repeat 50%/cover;
        border: none;

        h4 {
          margin-top: auto;
          font-weight: 700;
          font-size: 24px;
        }

        span {
          display: block;
          margin-top: 15px;
        }

        a {
          padding: 20px 30px 18px;
          margin-top: 20px;
          font-size: 14px;

          &::before {
            content: none;
          }
        }

        .in_cart {
          letter-spacing: 0.1em;

          &::before {
            content: none;
          }
        }
      }
    }
  }

  .product_link {
    margin-top: 40px;
    width: calc(100% - 20px);
  }

  .product-swiper_buttons {
    display: none;
  }

  .product_desk-swiper,
  .product_desk-swiper_buttons {
    display: none;
  }



}

.product_similar {
  margin-top: 0;
  padding-top: 60px;
  background: linear-gradient(180deg, #FBFBFB 0%, rgba(255, 255, 255, 0) 36.46%);
  .decor_rails {
    top: -17px;
  }
} 

@media(min-width: $sm) {
  .product {
    .container_full {
      padding-left: 33px;
    }

    .product-swiper {
      .product_slide {
        .product_slide__content {
          padding: 30px;

          .in_cart {
            margin-top: 15px;
          }
        }
      }
    }

    .product_link {
      width: 70%;
      margin: 0 auto;
      margin-top: 50px;

    }
  }  
}

@media(min-width: $md) {
  .product {
    margin-top: 70px;

    .container_full {
      padding-left: 40px;
    }

    .product__wrapper {
      margin-top: 60px;
    }

    .product-swiper,
    .product_similar-swiper {
      .product_slide {
        .product_slide__content {
          height: calc(100% - 64px);
          padding: 30px;

          .link_detail {
            margin-top: 30px;
            font-size: 20px;
            &:hover {
              color: $redHover;
            }

          }
          
          .price {
            color: $red;
            @include font(30px,1.4,700);
          }

        }
      }
    }

    .product_link {
      width: 48%;
      margin-top: 60px;
    }
  }

  .product_similar {
    margin-top: 0;
    padding-top: 60px;
  } 


}

@media(min-width: $lg) {
  .product {
    margin-top: 70px;

    .container_full {
      position: relative;
      max-width: 93.75%;
      margin: 0 auto;
      padding: 0;
    }

    h2 {
      text-align: left;
    }

    .product__wrapper {
      margin-top: 70px;
    }

    .product-swiper,
    .product_similar-swiper {
      padding-bottom: 40px;
      .product_slide {
        .product_slide__content {
          padding: 30px;


          .price {
            font-size: 30px;
          }

          .in_cart {
            margin-top: 20px;
          }

        }
      }
    }

    .product_link {
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      margin-top: 5px;
      width: 200px;
      max-height: 66px;
      padding: 24px 0 22px;
      font-size: 14px;
      font-family: $circe;
      .icon {
        width: 24px;
        height: 24px;
      }

    }

    .product-swiper_buttons {
      position: absolute;
      top: 25px;
      right: 250px;
      display: flex;
      justify-content: center;

      button {
        width: 44px;
        height: 26px;

        .icon {
          width: 100%;
          height: 100%;
          fill: $lightGray;
          transition: $transition;
        }

        &:hover {
          .icon {
            fill: $redHover;
          }
        }
      }

      [data-role="product-swiper-next"] {
        right: 0;
        margin-left: 20px;
        transform: rotate(180deg);
      }

      [data-role="product-swiper-prev"] {
        left: 0;
      }

    }
  }

  .product_similar {
      padding-top: 80px; 
      margin-top: 0;
  
    .product-swiper_buttons {
      right: 0;
    }
  }
}

@media(min-width: $xl) {
  .product {
    padding-bottom: 60px;
    .container_full {
      width: 70%;
      max-width: 1340px;
      padding-left: 0;
    }
  }
}

@media(min-width: $xxl) {
  .product {
    margin-top: 140px;
    padding-bottom: 120px;

    h2 {
      font-size: 54px;
      text-align: left;
    }

    .product__wrapper {
      margin-top: 70px;
    }

    .product_link {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 5px;
      width: 200px;
      max-height: 66px;
      padding: 24px 0 22px;
      font-size: 14px;
      font-family: $circe;
    }

    .product-swiper,
    .product_similar-swiper {
      .product_slide {
        .product_slide__content {
          padding: 40px;
          height: calc(100% - 84px);
        }
      }
    }


    .product-swiper,
    .product-swiper_buttons {
      display: none;
    }

    .product_desk-swiper {
      display: block;

      .product_slide {
        height: auto;

        .product_slide__content {
          display: grid;
          grid-template-areas:
            "s l l l s2"
          ;
          padding-bottom: 40px;

          gap: 0 40px;

          .content_item {
            display: flex;
            flex-flow: column;
            height: calc(100% - 84px);
            padding: 40px;
            border: 2px solid $lineGray;
            border-radius: 20px;
            background-color: $white;
            transition: $transition;
            &:hover {
              box-shadow: 0px 30px 30px -15px rgba(0, 0, 0, 0.05);
            }

            img {
              height: 225px;
              object-fit: cover;
              border-radius: 20px;
            }

            .link_detail {
              margin-top: 30px;
              margin-bottom: 15px;
              font-size: 20px;
              font-weight: 700;
              text-decoration: none;
              color:inherit;
              transition: $transition;
              &:hover {
                color: $redHover;
              }
  
            }

            .link_detail:hover + .text_content {
              .price {
                color: #000;
              }
            }

            .text_content {
              display: flex;
              flex-flow: column;
              margin-top: auto;
            }
            
            .price {
              margin-top: 10px;
              font-size: 24px;
              font-weight: 700;
              color: $red;
              letter-spacing: 0.1em;
              transition: $transition;
            }

            .in_cart {
              padding: 20px 30px 18px;
              margin-top: 20px;
            }
          }

          .short {
            grid-area: s;
          }

          .long {
            grid-area: l;

            .buttons {
              display: flex;
              margin-top: 20px;

              a {
                margin-top: 0;
              }

              button {
                padding: 20px 24px 18px;
                margin-left: 30px;
              }
            }
          }

          .short2 {
            grid-area: s2;
          }

        }
      }
    }

    .product_desk-swiper_buttons {
      position: absolute;
      top: 55%;
      left: 0;
      right: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        width: 44px;
        height: 26px;

        .icon {
          width: 100%;
          height: 100%;
          fill: $lightGray;
          transition: $transition;
        }

        &:hover {
          .icon {
            fill: $redHover;
          }
        }
      }

      [data-role="product-swiper-next"] {
        right: -124px;
        margin-left: 0;
        transform: rotate(180deg);

      }

      [data-role="product-swiper-prev"] {
        left: -124px;
      }

    }


  }

  .product_similar {
    margin-top: 0;
    padding-top: 120px;
  
    .product-swiper_buttons {
      position: absolute;
      top:calc(50% + 50px);
      left: 0;
      right: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        width: 44px;
        height: 26px;

        .icon {
          width: 100%;
          height: 100%;
          fill: $lightGray;
        }

        &:hover {
          .icon {
            fill: $redHover;
          }
        }
      }

      [data-role="product-swiper-next"] {
        right: -124px;
        margin-left: 0;
        transform: rotate(180deg);

      }

      [data-role="product-swiper-prev"] {
        left: -124px;
      }

    }


}
}