.breadcrumbs {
  position: relative;
  z-index: 1;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      position: relative;
      font-family: "Manrope", sans-serif;
      &:not(:last-child) {
        padding-right: 20px;
        &::after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 8px;
          display: block;
          content: '';
          width: 4px;
          height: 12px;
          background: url("data:image/svg+xml,%3Csvg width='4' height='12' viewBox='0 0 4 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.12317 0H4L0.876829 12H0L3.12317 0Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A") no-repeat 50%/cover;
        }
      }
      a {
        font-size: 13px;
        color: $gray;
        text-transform: none;
        &:hover {
          color: $red;
        }
      }

      .active {
        color: $dark;
        &:hover {
          color: inherit;
        }

      }
    }
  }
}

@media(min-width: $lg) {
  .breadcrumbs {
    ul {
      justify-content: flex-start;
    }
  }
  
}
@media(min-width: $xl) {
  .breadcrumbs {
    margin-top: 50px;
  }
  
}

