.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 0;
}

.btn_default {
    padding: 22px 36px 20px;
    font-size: 12px;
    font-weight: 700;
    background-color: $beige;
    color:$white;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: $transition;
    &:hover {
        background-color: $beigeHover;
    }
}

.btn_red {
    padding: 22px 36px;
    font-size: 12px;
    font-weight: 800;
    background-color: $red;
    color:$white;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: $transition;
    &:hover {
        background-color: $redHover;
    }
}

.btn_white {
    padding: 24px 36px;
    font-size: 16px;
    font-weight: 700;
    background-color: $white;
    color:$gray;
    border-radius: 10px;
    border: 2px solid $lineGray;
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 0.1em;
    transition: $transition;
    &:hover {
        background-color: $beigeHover;
        color: $white;
        border: 2px solid $beigeHover;

    }
}

.btn_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 50%;
    background-color: rgba(221, 188, 151, 0.5);
    transition: $transition;

    &:hover {
        background-color: rgba(214, 55, 62, 0.5);
    }
    &::before {
    transform: translateX(2px);
      display: block;
      content: '';
      width: 15px;
      height:21px;
      background: url("data:image/svg+xml,%3Csvg width='15' height='21' viewBox='0 0 15 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 2.90051C0 1.27106 1.84414 0.325474 3.16727 1.27648L13.7405 8.87597C14.8508 9.674 14.8508 11.326 13.7405 12.124L3.16728 19.7235C1.84414 20.6745 0 19.7289 0 18.0995V2.90051Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A") no-repeat 50%/cover;
    }
}
