.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: $transition;

    &__overlay {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 50px;
    }

    &__wrapper {
        position: relative;
        width: 340px;
        padding: 20px;
        background-color: $red;
        background: url(../../img/modal_pattren.png) no-repeat 50%/cover;
        border-radius: 20px;
    }

    &__close {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        transition: $transition;
    }
}

.modal--active {
    opacity: 1;
    visibility: visible;
}

@media(min-width: $sm) {
    .modal {
        &__wrapper {
            width: 510px;
            padding: 30px;
        }
    }

}


@media(min-width: $md) {
    .modal {
        &__overlay {
            align-items: center;
            padding-top: 0;
        }

        &__wrapper {
            width: 690px;
            padding: 30px 40px 40px;

        }
    }

}

@media(min-width: $lg) {
    .modal {
        &__wrapper {
            width: 930px;
            padding: 30px 50px 50px;

        }
    }

}

@media(min-width: $xl) {
    .modal {
        &__wrapper {
            width: 960px;
            padding: 50px 60px 60px;


        }
    }

}