@import 'variables/index';

html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column;
  min-width: $xs;
  min-height: 100%;
  font-family:"Circe", sans-serif;
  line-height: 1.4;
  color: $dark;
}

.body--hidden {
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
 }
 
 .page {
   flex: 1 0 auto;
 
 }
 .footer {
   flex: 0 0 auto;
 }
 

.container {
  max-width: 89.5%;
  margin: 0 auto;
}

@media(min-width: $sm) {
  .container {
    max-width: 88.5%;
  }
}
@media(min-width: $md) {
  .container {
    max-width: 89.9%;

  }
}

@media(min-width: $lg) {
  .body--hidden {
    margin-right: 1rem;
  }
  .container {
    max-width: 91.5%;
  }
}
@media(min-width: $xl) {
  .container {
    max-width: 70%;

  }
}

