@import 'variables/index';

html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column;
  min-width: $xs;
  min-height: 100%;
  font-family:"Circe", sans-serif;
  line-height: 1.4;
  color: $dark;
}

.body--hidden {
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
 }
 
 .page {
   flex: 1 0 auto;
 
 }
 .footer {
   flex: 0 0 auto;
 }
 

.container {
  width: 89.5%;
  max-width: 340px;

  margin: 0 auto;
}

.decor_rails {
  position: absolute;
  width: 100%;
  height: 34px;
  &::after, &::before {
    position: absolute;
    top: 0;
    display: block;
    content: '';
    width: 78px;
    height: 100%;
    background: url(../img/rails.svg);
  }

  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }

}

.img_pos {
  img {
    object-position: 0 -50px;
  }
}

.description {
  h3 {
    font-size: 24px;
    font-weight: 700;
    color: $dark;
  }

  p {
    &:not(:last-child) {
    margin-bottom: 30px;
    }
    color: $darkGray;
  }
}

@media(min-width: $sm) {
  .container {
    width: 88.5%;
    max-width: 510px;
  }

  .description {
    h3 {
      font-size: 30px;
    }
  }
  

  
}
@media(min-width: $md) {
  .container {
    width: 89.9%;
    max-width: 690px;
  }

  .description {
    p {
      font-size: 18px;
    }
}

}

@media(min-width: $lg) {
  .body--hidden {
    margin-right: 1rem;
  }
  .container {
    width: 93.75%;
    max-width: 930px;

  }

  .decor_rails {
    &::after, &::before {
      width: 150px;
    }  
  }

  .description {
    h3 {
      font-size: 40px;
    }
}
}
@media(min-width: $xl) {
  .container {
    width: 70%;
    max-width: 1340px;

  }

  .description {
    h3 {
      font-size: 44px;
    }

  }

}



