@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dist/Circe-Regular.woff2"), url("../fonts/dist/Circe-Regular.woff");
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/dist/Circe-Bold.woff2"), url("../fonts/dist/Circe-Bold.woff");
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/dist/Circe-ExtraBold.woff2"), url("../fonts/dist/Circe-ExtraBold.woff");
}