$dark: #262421;
$darkGray: #585452;
$gray: #A6A6A6;
$lightGray: #CCCCCC;
$lineGray: #EFEFEF;
$red: #D6373E;
$redHover: #C3272E;
$beige: #DDBC97;
$beigeHover: #C6A077;
$darkWhite: #FBFBFB;
$white: #FFFFFF;
